@charset "UTF-8";

	header {

		width: 100%;
		height: 80px;
		position: fixed;
		top: 0;
		left: 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

	}



	#tire_placed {
		
	}

	#Pallet {
		/*cursor: none;*/
		height: 338px;
		width: 338px;
		background: #998820;
		border: 3px solid black;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		




	}

	#mouse_gone {
		position: fixed;
		cursor: none;
		height: 387px;
		width: 387px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	#horiz {

		position: fixed;
		left: 0;
		top: 110px;
		margin: 1px;
		height: 50px;
		width: 100%;
	}

	#vertical_text_div {
		position: fixed;
		left: 74%;
		top: 50%;
		margin: 1px;
		height: 50px;
		transform: translate(-26%,-50%);



	}

	#width_text {
		
		text-align: center;
		
		font-family: Courier New;
		font-size: 13pt;
		font-weight: bold;
	}

	#length_text {
		
		text-align: center;

		font-family: Courier New;
		font-size: 13pt;
		font-weight: bold;


	}


	#tire {
		
		cursor: move;
		position: absolute;
		width: 60px;
		height: 60px;
		border-radius: 500px;
		-webkit-border-radius: 500px;
		border: 30px solid black;
		transform: translate3d(0px, 0px, 0px);
		
		
		transition: width 2s, height 4s; 
	
	}

	.tire_text {
		position: absolute;
		margin: auto;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		padding: 0;


		
	}



	

	#LL {
		position: fixed;
		top: 22%;
		left: 50%;
		height: 4px;
		width: 341px;
		background: black;
		transform: translate(-50%, -78%);
	}

	#VL {
		position: fixed;
		top: 50%;
		left: 70%;
		height: 341px;
		width: 4px;
		background: black;
		transform: translate(-30%, -50%);
		
	}

	#coord_tag {
		position: absolute;
		font-family: Courier New;
		font-size: 13pt;
		font-weight: bold;
		transform: translate3d(400px, 500px, 0px);
		
		width: 20px;
		height: 20px;
	}

	#coordinates {
		position: absolute;
		height: 20px;
		width: 100%;
		bottom: 20%;
	}
	
	#input_form {
		position: absolute;
		width: 30%;
		font-family: Courier New;
		font-size: 8pt;
		font-weight: bold;
		bottom: 60%;
		text-align: center;


	}
	button {
		width: 100px;
		height: 25px;
		font-family: Courier New;
		font-size: 8pt;
		background-color: #ffff1a;


	}


	


	
	#coord_text {
		text-align: center;
		font-family: Courier New;
		font-size: 20pt;
		/*font-weight: bold;*/
	}


	

	#horiz_follow {
		position: absolute;
		width: 0.1px;
		height: 100%;
		background-color:grey;
		transform: translate3d(-1px, 0px, 0px);

	}
	#vertical_follow {
		position: absolute;
		width: 100%;
		height: 0.1px;
		background-color:grey;
		transform: translate3d(-1px, 0px, 0px);
	}

	
	
	#blocktext {
		top: 300px;
		text-align: center;
		font-family: Courier New;
		font-size: 45px;
	}
		
	



	

	